/*
// #4C5760
// #93A8AC
// #D7CEB2 - Background
// #A59E8C - Link
// #474540 - Pressed Link
// #66635B - Text
*/

html {
  background-color: #D7CFB2;
  color: #66635B;
}

body {
  background-color: inherit;
  /*
  Not sure why body is overriding html element.
  */
}

.App {
  /* text-align: center; */
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #A59E8C;
  text-decoration: none;
}

.App-link:hover {
  color: #66635B;
}

.App-link:active {
  color: #474540;
}

.nav-brand {
  font-size: 1.3;
}

.nav-link {
  font-size: 1.2rem;
}

.Main {
  min-height: 80vh;
}
